html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vh;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    font-family: sans-serif;
    font-weight: 100;
}

* {
    box-sizing: border-box;
}

.container {
    position: relative;
    top: 15%;
    transform: translate(50%, 50%);
}

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

th {
    text-align: left;
}

thead th {
    background-color: #55608f;
}
tbody tr:hover {
    background-color: rgba(255,255,255,0.3);
}
tbody td {
    position: relative;
}
tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255,255,255,0.2);
    z-index: -1;
}


.logout {
    background: rgba(255, 255, 255, 0.2);
    width: 100px;
    position: fixed;
    display: flex;
    align-items: flex-end;
    right: 40px;
    top: 40px;
    cursor:pointer;
    border-radius:50px;
    padding:10px 20px 10px 0;
    color: #fff;
    font-size:14px;
    text-align:center;
    text-indent:40px;
    margin:0 auto;

    /* Animations: */
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-duration: .4s;
    -webkit-transition-property: all;

    -moz-transition-timing-function: ease-in-out;
    -moz-transition-duration: .4s;
    -moz-transition-property: all;
}

.logout:hover {
    background-color: rgba(255,255,255,0.2);
    background-position: 65px 5px;
    text-indent: 15px;
}